%h1 Currencies

%table.table
  %thead
    %tr
      %th
      %th
      %th


  %tbody
    - @currencies.each do |currency|
      %tr
        %td= currency.name
        %td= currency.symbol
        %td.text-end
          = link_to edit_currency_path(currency), id: "edit-currency-#{currency.id}" do
            %i.bi.bi-pencil
          = link_to currency, method: :delete, id: "delete-currency-#{currency.id}", data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
            %i.bi.bi-trash


%br

= link_to new_currency_path, id: 'new-currency-link' do
  %i.bi.bi-plus-lg
