%nav.navbar.main.navbar-expand-lg.navbar-dark(style = "background-color: #111" id = 'main-navbar')
  .container-fluid
    = link_to "Gain", root_path, class: 'navbar-brand'

    %button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      %span.navbar-toggler-icon


    .navbar-nav.ml-auto
      - if @account
        .navbar-text= @account.title
      .collapse.navbar-collapse#navbarSupportedContent
        .dropdown
          %button{id: 'settings-link', class: 'nav-link dropdown-toggle', "role": "button", "data-bs-toggle": "dropdown", "aria-expanded": "false"}
            %i.bi.bi-gear.p-2
          %ul.dropdown-menu.dropdown-menu-end
            %li.dropdown-item= link_to "Accounts", accounts_path
            %li.dropdown-item= link_to "Securities", securities_path
            %li.dropdown-divider
            %li.dropdown-item= link_to "Sign out", sign_out_path, method: :delete, class: 'btn btn-secondary', data: { "turbo-method": :delete }




