%h1 Securities

%table.table

  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @securities.each do |security|
      %tr
        %td= security&.name
        %td= security.symbol
        %td= security.currency&.name
        %td.text-end
          = link_to edit_security_path(security), id: "edit-security-#{security.id}" do
            %i.bi.bi-pencil
          = link_to security, method: :delete, id: "delete-security-#{security.id}", data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do
            %i.bi.bi-trash

%br

= link_to new_security_path, id: 'new-security-link' do
  %i.bi.bi-plus-lg
