%h1 Gains and Losses

%table.table
  %thead
    %tr
      %th Date
      %th Trade
      %th Source Trade
      %th Security
      %th.text-end Qty
      %th.text-end Amount
  %tbody
    - @gain_losses.each do |gl|
      %tr
        %th= gl.date
        %th= link_to gl.trade_id, account_trade_path(@account, gl.trade_id)
        %th= link_to gl.source_trade_id, account_trade_path(@account, gl.source_trade_id)
        %th= gl.trade.security.name
        %th.text-end= number_with_delimiter(gl.quantity, precision: 5, strip_insignificant_zeros: true)
        %th.text-end= number_to_currency(gl.amount)
