%h1 Lots


%table.table
  %thead
    %tr
      %th Date
      %th Security
      %th.text-end Qty
      %th.text-end Amount
      %th.text-end ID
      %th.text-end
  %tbody
    - @lots.each do |lot|
      %tr
        %td= lot.date
        %td= lot.security.name
        %td.text-end= number_with_precision(lot.quantity, precision: 2, strip_insignificant_zeros: true)
        %td.text-end= number_to_currency(lot.amount)
        %td.text-end= lot.id
        %td
