%h1 Lots

.col-5
  %table.table.mb-5
    %thead
      %tr
        %th Security
        %th.text-end Qty
    %tbody
      - @lot_groups.each do |key, value|
        %tr
          %td= key
          %td.text-end= number_with_delimiter(value, precision: 2, strip_insignificant_zeros: true)

.col-5
  %table.table.mb-5
    %thead
      %tr
        %th Security
        %th.text-end Amount
    %tbody
      - @lot_amounts.each do |key, value|
        %tr
          %td= key
          %td.text-end= number_with_delimiter(value, precision: 2, strip_insignificant_zeros: true)

%table.table
  %thead
    %tr
      %th Date

      %th Security
      %th.text-end Qty
      %th.text-end Amount
      %th.text-end ID
      %th.text-end
  %tbody
    - @lots.each do |lot|
      %tr
        %td
          = nice_date(lot.date)
          - if lot.short_term?
            .badge.text-bg-info
              Short term
          - else
            .badge.text-bg-success
              Long term
        %td= lot.security.name
        %td.text-end= number_with_delimiter(lot.quantity, precision: 2, strip_insignificant_zeros: true)
        %td.text-end= number_to_currency(lot.amount)
        %td.text-end= lot.id
        %td
