.offset-3.col-lg-6

  %table.table
    %tbody
    %tr
      %th Date:
      %td.text-end= @trade.date
    %tr
      %th.text-center(colspan='2')
        %h1= @trade.trade_type
    %tr
      %th Security:
      %td.text-end= @trade.security.name

    - if @trade.buy_sell?
      %tr
        %th Price:
        %td.text-end= number_to_currency @trade.price, precision: 5, strip_insignificant_zeros: true
      %tr
        %th Quantity:
        %td.text-end= number_with_delimiter @trade.quantity, precision: 2
      %tr
        %th Fee:
        %td.text-end= number_to_currency @trade.fee
      %tr
        %th Other:
        %td.text-end= number_to_currency @trade.other
      %tr
        %th Amount:
        %td.text-end= number_to_currency @trade.amount
      %tr
        %th Security balance:
        %td.text-end= number_with_delimiter(@trade.quantity_balance, precision: 5, strip_insignificant_zeros: true)

    - elsif @trade.conversion?
      %tr
        %th Quantity:
        %td.text-end= number_with_delimiter @trade.quantity, precision: 2, strip_insignificant_zeros: true
      %tr
        %th Conversion new share quantity:
        %td.text-end= number_with_delimiter @trade.conversion_to_quantity, precision: 2, strip_insignificant_zeros: true
      %tr
        %th Conversion from share quantity:
        %td.text-end= number_with_delimiter @trade.conversion_from_quantity, precision: 2, strip_insignificant_zeros: true
      %tr
        %th Conversion security:
        %td.text-end= @trade.security.name
      - if @trade.conversion_to_security_id
        %tr
          %th Conversion to security:
          %td.text-end= @trade.conversion_to_security.name if @trade.conversion_to_security_id
      - if @trade.conversion_from_security_id
        %tr
          %th Conversion from security:
          %td.text-end= @trade.conversion_from_security.name if @trade.conversion_from_security_id

    - elsif @trade.split
      %tr
        %th Split new shares:
        %td.text-end= number_with_delimiter @trade.split_new_shares, precision: 2

    -if @trade.note
      %tr
        %th Note
        %td.text-end= @trade.note
  %br
  = link_to account_trade_path(@account, @trade), id: "delete-trade", method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?'} do
    %i.bi.bi-trash
  = link_to edit_account_trade_path(@account, @trade), id: "edit-trade" do
    %i.bi.bi-pencil
  \|
  = link_to 'Back', account_trades_path(@account)
