!!!
%html(lang="en")
  %head
    = render 'shared/head'
  %body
    = render 'shared/header'
    = render 'shared/flash'
    .container.pt-5
      = render 'accounts/nav'
      = yield

  = render 'shared/footer'
