!!!
%html(lang="en" data-bs-theme="dark")
  %head
    = render 'shared/head'
  %body
    = render 'shared/header'
    .container.pt-5
      = render 'shared/flash'
      = yield

  = render 'shared/footer'
