!!!
%html(lang="en" data-bs-theme="dark")
  %head
    = render 'shared/head'
  %body
    = render 'shared/header'
    = render 'shared/flash'
    .container.pt-5
      .offset-2.col-lg-8
        = render 'settings/nav'
        = yield

  = render 'shared/footer'
